---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "base",
        // "layout",
        "reset",
        "syntax-highlighting"
;

@charset "utf-8";

body {
  padding: 20px;
  line-height:1.25;
  font-family: monospace;
}

.section, .wrapper {
  margin-bottom: 20px;
}

.page-content {
  max-width: 450px
}

.post-content p {
  margin-bottom: .5em;
}

.site-header {
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 20px;
}

.announcements p {
  color: red;
}

footer {
  position: fixed;
  bottom: 20px;
}

ol {
  list-style: decimal;
  margin-left: 15px;
}

code {
  background-color: #000;
  color: cyan;
  padding: 0px 6px;
  border-radius: 2px;
  white-space: nowrap;
}

th, td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  padding: 0 20px 0 0;
  font-weight: bold;
} 

td {
  padding: 5px 20px 20px 0;
}

// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }