---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // "base",
        // "layout",
        "reset",
        "syntax-highlighting"
;

@charset "utf-8";

body {
  padding: 30px;
  line-height: 1.5;
  font-family: monospace;
}

b {
  font-weight: bold;
}

.section, .wrapper {
  margin-bottom: 20px;
}

.page-content {
  max-width: 560px
}

.post-content p {
  margin-bottom: 1em;
}

.site-header {
  margin-bottom: 20px;
}

.post {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
  margin: 1.5em 0 .5em 0;
}

.post-header {
  margin-bottom: 20px;
}

.assignment {
  color: red;
  max-width: 60%;
  margin-bottom: 2em;

  p {
    padding: 20px;
  }
}

footer {
  position: fixed;
  bottom: 20px;
}

ol {
  list-style: decimal;
  margin-left: 15px;
}

p code {
  background-color: #000;
  color: cyan;
  padding: 0px 3px;
  border-radius: 2px;
  white-space: nowrap;
}

table.main th, table.main td {
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,.06);
}

table.main th {
  padding: 0 20px 0 0;
  font-weight: bold;
} 

th.class {
  width: 45%;
}

table.main td {
  padding: 5px 40px 20px 0;
}

table.main td:nth-child(3n) {
  padding-right: 0px;
}

td.gutter.gl {
  padding-right: 20px;
  opacity: 0.3;
}

.highlight {
  background: #F5F5F5;
  padding-left: 20px;
  border-radius: 3px;
}

pre { 
  white-space: pre; 
  overflow: auto; 
}


// // Use media queries like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }